<!DOCTYPE html>
<html>

<!-- Plantilla de base para las demas vistas -->

<head>
    <title>Django Central</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body>
    <style>
        .navbar {
            background-color: #3398E1;
        }

        body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            background-color: #fdfdfd;
        }

        .shadow {
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        }

        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }
    </style>

    <!-- Navegación -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="/"><h3>Mis post</h3></a>
        </div>
    </nav>
    {% block content %}
    <!-- El contenido irá aqui -->
    {% endblock content %}
</body>

</html>